.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
background: linear-gradient(
  135deg,
  #fff7ed 0%,
  #ffedd5 50%,
  #fed7aa 100%
);
  /* color: white; */
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.text {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: #ff9800;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button:hover {
  transform: translateY(-2px);
  /* border: 1px solid #ff9800; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}